/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes moveArrow {
    from {
      left: -15px;
    }
    to {
      left: -11px;
    }
  }
@keyframes scaleHeart {
    from {
      transform:scale(1);
    }
    to {
      transform:scale(1.5);
    }
}
@keyframes scaleSparks {
  from {
    fill:var(--heart-fill);
  }
  to {
    fill:var(--bg-color);
  }
}
.contour {
  transition: fill 0.1s linear;
}
.main-body {
  transition: fill 0.3s linear;
}
.core {
  transition: fill 0.3s linear 0.03s;
}
.sparks {
  fill:var(--bg-color);
}
.like-icon:hover .main-body {
  fill:var(--accent-color);
  transition:fill 0.3s linear 0.05s;
}
.like-icon:hover .core {
  fill:var(--accent-color);
  transition: fill 0.3s linear;
}
.like-icon:active .main-body{
  fill: var(--heart-fill);
  transition: fill 0.3s linear 0.05s;
}
.like-icon:active .core{
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}
.like-icon.is-liked .main-body{
  fill: var(--heart-fill);
  transition: fill 0.3s linear 0.05s;
}
.like-icon.is-liked .core{
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}
.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: fill 0.3s linear 0.06s;
}
.is-liked .heart {
  animation:scaleHeart 0.3s ease-in 0.1s 1 normal;
  transform-origin:center;
}
.is-liked .sparks {
  animation:scaleSparks 0.3s ease-in 0.3s 1 normal;
  transform-origin: center;
}