/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

Уважаемый ревьюер! Я тексты везде сохранил точь-в-точь, как на макете, чтобы не было расхода с макетом, 
чтобы потом не было вопросов по поводу этого.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image:var(--background);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  color:var(--accent-color);
  padding:7% clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  font-family:Inter;
  font-weight:400;
  font-size:18px;
}
.header {
  background-color:var(--bg-color);
  border:2px solid var(--accent-color);
  font-family:PressStart2P;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-end;
  padding-right:120.5px;
  padding-left:120.5px;
  min-height:368px;
  margin-bottom:100px;
}
button:focus {
  box-shadow:2px 2px var(--accent-color);
  outline:none;
}
.header h1 {
  font-size:clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);;
  margin-bottom:20px;
}
.header h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom:25px;
}
.theme-menu__list {
  margin-bottom:25px;
  margin-left:17px;
  display:grid;
  gap:9px;
}
.theme-menu__button {
  background-color: transparent;
  border:none;
  font-size:14px;
  text-transform: uppercase;
}
.theme-menu__button:focus {
  opacity: 0.6;
  box-shadow: none;
}
.theme-menu__button:disabled {
  opacity:0.6;
  position: relative;
}
.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -15px;
}
.card-wrapper {
  background-color: var(--bg-color);
  border:2px solid var(--accent-color);
}
.card-title {
  font-weight:785;
  font-size:18px;
  margin-top:3px;
  margin-bottom:5px;
  margin-left:9px;
}
.card-image-wrapper {
  position:relative;
}
.card-image-label {
  position:absolute;
  right:25px;
  top:26px;
  font-family:PressStart2P;
  opacity: 0.5;
  font-size:14px;
  text-shadow: 1px 1px 2px var(--bg-color);
}
@supports (-webkit-text-stroke: 1px var(--bg-color)) or (text-stroke: 1px var(--bg-color)) {
  .card-image-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}
.card-image {
  width:100%;
  border-top:2px solid var(--accent-color);
  border-bottom:2px solid var(--accent-color);
}
.card-content-wrapper {
  display:grid;
  padding: 25px 25px;
}
.card__like-button {
  font-family:PressStart2P;
  border:2px solid var(--accent-color);
  background-color: var(--bg-color);
  width:130px;
  height:38px;
}
.card__icon-button {
  background-color: transparent;
  border:none;
  margin-top:3px;
}
.card-buttons-wrapper {
  justify-self:end;
  display: flex;
}
.sparks {
  opacity: 0;
}
.card-about-text {
  margin-top:21px;
  margin-bottom:22px;
}
.button__text {
  font-size:14px;
}
@media(width <= 375px) {

}