/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background:var(--background);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  color:var(--accent-color);
  padding:7% clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  font-family:var(--defaultfont), sans-serif;
  font-weight:400;
  font-size:18px;
  font-variation-settings: 'wght' var(--PS2P);
  font-variation-settings: 'wght' var(--defaultfont);
}
.header {
  background-color:var(--bg-color);
  border:2px solid var(--accent-color);
  font-family:var(--PS2P), fantasy, sans-serif;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-end;
  padding-top: clamp(7.5rem, 7.1699rem + 1.4085vw, 8.4375rem);
  padding-right:120.5px;
  padding-left:120.5px;
  margin-bottom:100px;
}
main {
  display:grid;
}
button:focus {
  box-shadow:2px 2px var(--accent-color);
  outline:none;
}
.header h1 {
  font-size:clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);;
  margin-bottom:20px;
}
.header h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom:25px;
  text-transform:uppercase;
  white-space:nowrap;
}
.theme-menu__list {
  margin-bottom:25px;
  margin-left:17px;
  display:grid;
  gap:9px;
}
.theme-menu__button {
  background-color: transparent;
  border:none;
  font-size:14px;
  text-transform: uppercase;
  position:relative;
  transition: opacity 0.3s;
}
.theme-menu__button:hover {
  opacity:0.6;
}
.theme-menu__button::after {
  content: '';
  height:2px;
  width: 0;
  background-color:var(--accent-color);
  opacity: 0.6;
  position:absolute;
  bottom:-2px;
  left:0;
  transition: width 0.3s ease;
}
.theme-menu__button:focus-visible::after {
  width:100%;
}
.theme-menu__button:focus {
  opacity: 0.6;
  box-shadow: none;
}
.theme-menu__button:disabled {
  opacity:0.6;
  position: relative;
}
.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -15px;
  animation: moveArrow 0.5s infinite alternate;
}
.card-wrapper {
  background-color: var(--bg-color);
  border:2px solid var(--accent-color);
  margin-bottom:52px;
}
.card-title {
  font-weight:785;
  font-size:18px;
  margin-top:3px;
  margin-bottom:5px;
  margin-left:9px;
  margin-right:3px;
}
.card-image-wrapper {
  position:relative;
  overflow:hidden;
}
.card-image {
  position:relative;
  object-fit: cover;
  width:100%;
  border-top:2px solid var(--accent-color);
  border-bottom:2px solid var(--accent-color);
}
.card-image-label {
  position:absolute;
  right:25px;
  top:26px;
  font-family:var(--PS2P), fantasy, sans-serif;
  z-index:100;
  opacity: 0.5;
  font-size:14px;
  text-shadow: 1px 1px 2px var(--bg-color);
}
@supports (-webkit-text-stroke: 1px var(--bg-color)) or (text-stroke: 1px var(--bg-color)) {
  .card-image-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}
.card-content-wrapper {
  display:grid;
  padding:20px 25px;
  gap:22px;
}
.btn {
  font-family:var(--PS2P), fantasy, sans-serif;
  border:2px solid var(--accent-color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  position:relative;
}
.card__like-button {
  width:130px;
  height:38px;
}
.btn:after {
  content: '';
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width: 0;
  background-color:var(--accent-color);
  transition:0.5s width ease;
}
.btn:hover::after {
  width:100%;
}
.btn:hover .button__text, .btn:hover .btn-text {
  color:var(--bg-color);
  transition: 0.5s;
}
.card__icon-button {
  background-color: transparent;
  border:none;
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:38px;
}
.card__icon-button:focus {
  box-shadow:none;
  border:2px solid var(--accent-color);
}
.card-buttons-wrapper {
  justify-self:end;
  display: flex;
  margin-top:2px;
}
.sparks {
  fill:var(--bg-color);
}
.button__text, .btn-text {
  font-size:14px;
  z-index:100;
  position:relative;
}
.main-body,.core, .contour {
    transition: fill 0.3s linear 0s;
}
.core {
  transition-delay:0.03s;
}
.card__icon-button:hover .main-body,
.card__icon-button:hover .core {
    fill: var(--accent-color);
}
.card__icon-button:hover .main-body {
  transition-delay:0.03s;
}
.card__icon-button:hover .core {
  transition-delay:0s;
}
.card__icon-button:active .main-body,
.card__icon-button:active .core,
.card__icon-button:active .contour {
    fill: var(--heart-fill);
}
.card__icon-button:active .main-body {
  transition-delay:0.03s;
}
.card__icon-button:active .contour {
  transition-delay:0.06s;
}
.card__icon-button:active .sparks {
  transition: fill 0.9s linear 0.01s;
  fill:var(--heart-fill);
  animation: 0.3s scaleHeart;
  animation-delay:0.08s;
  transform-origin: center;
}
.card__icon-button:active .heart {
  animation:0.3s scaleHeart;
  animation-delay:0.01s;
  transform-origin:center;
}
.card__icon-button:hover .main-body {
  transition:fill 0.3s linear 0.03s;
}
.save-btn {
  width:clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  justify-self:center;
  font-size:14px;
  transition:box-shadow 0.3s linear;
  background-color: var(--bg-color);
  border:2px solid var(--accent-color);
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: var(--PS2P), fantasy,sans-serif;
  padding-top:15px;
  padding-bottom:15px;
  margin-top:-8px;
  z-index:10;
  mix-blend-mode: difference;
}
.save-btn svg {
  width: 21px;
  height:21px;
  margin-right:clamp(0rem, -0.1761rem + 0.7512vw, 0.5rem);
  z-index:100;
  color:var(--accent-color);
}
.save-btn:hover svg {
  color:var(--disketa-color);
  transition:0.5s;
  mix-blend-mode: difference;
}
#disketa-dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
  gap:30px;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  border:2px solid var(--accent-color);
}
#disketa-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}
#disketa-dialog button {
  border:2px solid var(--accent-color);
  background-color: transparent;
  font-family: var(--PS2P),fantasy,sans-serif;
  font-size:14px;
  height:38px;
  box-shadow:none;
  color:var(--accent-color);
}
.dialog-content-wrapper {
  display:flex;
  align-items: center;
  font-family: var(--PS2P),fantasy,sans-serif;
  color:var(--accent-color);
}
.dialog-content-wrapper svg {
  margin-right:20px;
  fill:var(--accent-color);
  width:69px;
  height:69px;
}
.grayscale {
  filter:grayscale(50%);
}
.contrast {
  filter:contrast(200%);
}
.hue-rotate {
  filter:hue-rotate(90deg);
}
.invert {
  filter:invert(200%);
}
.saturate {
  filter:saturate(300%);
}
.blur {
  filter:blur(30px);
}
.blur-contrast {
  filter:blur(10px) contrast(200%);
}
@media(width <= 376px) {
  .page {
    padding-top:27%;
    padding-bottom:27%;
  }
  .header h2 {
    margin-bottom: 19px;
  }
  .card-image-label {
    right:13px;
    top:24px;
  }
  .card-buttons-wrapper {
    margin-top:-2px;
  }
  .save-btn {
    flex-direction: column;
  }
  .save-btn svg {
    width:28px;
    height:28px;
    margin-bottom:8px;
  }
}