/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-color:#00CC14;
    --bg-color: black;
    --background:url('../images/bg-dark.png');
}